*{
    margin: 0;
    padding: 0;
}
.header{
    line-height: 21px !important;
    font-size: 14px !important;
    white-space: nowrap;
}
.main-navbar{
    height: 64px !important;
    display: flex;
    align-items: center;
}
.form-control{
    height: 20px !important;
}
.search-bar{
    height: 20px !important;
    width: 246px !important;
    background: transparent !important;
    transition: all ease-in 0.5s;

}
.search-bar:focus{
    width: calc(246px + 60px) !important;
    background-color: aliceblue !important;
    color: black !important;
}
.navlinks{
    font-weight: 600 !important;
    background: transparent !important;
    word-spacing: 0px !important;
    white-space: nowrap !important;
    color: white !important;
}
.navlinks:hover{
    
    color: rgba(255, 255, 255, 0.7) !important;
 
}
.profile{
    height: 30px;
    align-self: center;
    width: 30px;
    border-radius: 60%;
}

.titles{
    height: 48px;
    font-size: 14px;
}
.title-menu{
    height: 30px !important;
}
.title-menu:hover{
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.758);
}

.left-side{
    height : 863.9px;
/* margin : 0 120px 0 120px; */
padding : 0 32px 0 32px;
}
.left-side img{
    height : 296px;
width : 296px;
border : 1px solid #D0D7DE;
border-radius: 60%;
top: -6%;
}
.follow{
    width: 20px !important;
    height: 20px !important;
    max-height: 20px;
    border-radius: 10px;
}
.public{
    border: 1px solid rgba(0, 0, 0, 0.567);
    border-radius: 15px;
}

.repo-card{
    height : 140.6px;
    border : 1px solid #D0D7DE;
    border-radius: 10px;
}


.red-circle{
    height: 10px;
    width: 10px;
    /* max-width: 10px; */
    border-radius: 100%;
    background-color: red;
}
.blue-circle{
    height: 10px;
    width: 10px;
    /* max-width: 10px; */
    border-radius: 100%;
    background-color: rgb(77, 7, 255);
}
.yellow-circle{
    height: 10px;
    width: 10px;
    /* max-width: 10px; */
    border-radius: 100%;
    background-color: rgb(205, 255, 7);
}
.line{
    height: 1px;
    width: calc(100% - 30%);
    /* border-bottom: black; */
    background-color: black;
}
.contribution{
    height : 266.1px;

}

.footer img{
    height: 10%;
    width: auto;
}
/* Responsive */
@media only screen and (max-width: 993px){
    
    header nav .container-fluid,.navbar,.collapse,.navbar-collapse{
        width: 100% !important;
        background-color: rgb(29, 29, 29) !important;
        background-size: cover !important;
    }
    .search-bar{
        width: 100%;
        padding: 10px 10px !important;
    }
    .left-side img{
        height: 50px;
        width: 50px;
        position: static !important;
        align-self: center;
    }
    .left-side{
        height: auto;
    }
    .titles{
        height: auto;
        justify-content: space-evenly !important;
        align-items: flex-start !important;
        position: static !important;

    }
}
@media only screen and (max-width: 400px){
    .footer-links{
        height: 200px;
    }
}